/* This is main style sheet */

/* Hex ids */

/* --blue: #32C6F0;
--dark blue: #329AF0;
--Green: #25F085;
--White: #C7EEF2;
*/

/* Colour scheme */

.blue{
	background-color:#32C6F0;
	padding:50px;
	margin:5px;
}

.darkB {
	background-color:#329AF0;
	padding:px;
	margin:5px;
}

.green{
	background-color:#25F085;
	padding:100px;
	margin:5px;
}

.white{
	background-color:#C7EEF2;
	padding:100px;
	margin:5px;
}

/* Nav elements */

nav{
	background-color::#C7EEF2;
	border:10px solid #C7EEF2;
	color:#C7EEF2;
	display:block;
	overflow:hidden;
	width:100%;
	text-align:center;
}

nav ul li{
	display:inline-block;
	list-style-type:none;
	
}

nav ul li a{
	color:black;
	display:block;
	line-height:56px;
	text-decoration:none;
	padding:10px;
}

nav ul li:hover{
	background-color:#C7EEF2;
}
nav ul li:hover a{
	color:black;
}

/* Footer */

footer{
	background-color:#C7EEF2;
	text-align:center;
	padding:3px;
}

/* centered images */

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:40%;
}

/* form styling */

form {
	text-align:center;
}
	

/* H1 styling */

h1 {
	text-align:center;
}

/* paragraph styling */

p {
	text-align:center;
}

/* background colour */

.bg {
	background-color:#25F085;
}

/* Column styling */

*{
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 20px;
  background-color:rgba(140, 64, 193, 0.5);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}